{% extends "base.html" %}
{% block title %} Регистрация завершина {% endblock %}

{%  block content %}
<div class="twocolumns news-wrap wrap">
				<!-- column -->
				<div class="column">
					<h2><span>Спасибо вам за регистрацию!</span></h2>
					    Ваши данные отправленны вам на почту.
                        <a href="{{ user.get_absolute_url }}"> Перейти в личный кабинет </a>
				</div>
				<!-- column -->
				<div class="column column2">
					<h2><span>Реклама</span></h2>
					<div class="box-reklama">
						<a href="#"><img alt="image description" src="images/img-banner4.gif"></a>
					</div>
				</div>
			</div>
{% endblock %}
