{% extends "base.html" %}
{% block title %} Регистрация {% endblock %}

{%  block content %}
<div class="twocolumns news-wrap wrap">
				<!-- column -->
				<div class="column">
					<h2><span>Регистрация, шаг 2</span></h2>
					<div class='register'>
                        <ul>
                            <li> <a href='/registration/?role=user&step=3'> Как пользователь</a> </li>
                            {% for direction in direction %}
                                <li><a href='/registration/?role={{ direction.id }}&step=3'> Как {{ direction.name }}</a></li>
                            {% endfor %}
                        </ul>
					</div>
				</div>
				<!-- column -->
				<div class="column column2">
					<h2><span>Реклама</span></h2>
					<div class="box-reklama">
						<a href="#"><img alt="image description" src="images/img-banner4.gif"></a>
					</div>
				</div>
			</div>
{% endblock %}
