{% extends "base.html" %}
{% block title %} {{ user }} {% endblock %}

{%  block content %}
<!-- twocolumns -->
<div class="twocolumns news-wrap wrap">
    <!-- column -->
    <div class="column">
                        <h2><span>{{ profile }}</span></h2>
                        {% include "snippets/account_menu.html" %}
                        <!-- tab box -->
                        <div class="tab-box" id="tab2" style='position: relative;'>
                            {% autoescape off %}
                                {{ editurl }}
                                {{ profile.biography }}
                            {% endautoescape %}
                            <br />
                        </div>
</div>
    <!-- column -->
    <div class="column column2">
        <h2><span>Реклама</span></h2>
        <div class="box-reklama">
            <a href="#"><img src="/static/images/img-banner3.jpg" alt="image description" /></a>
        </div>
    </div>
</div>
{% endblock %}
