body {
	margin:0;
	color:#000;
	font:12px/14px Arial,Verdana,Tahoma, sans-serif;
	background:#fff;
}
img {border:none;}
input,
textarea,
select{
	font:12px/14px arial,sans-serif;
	vertical-align:middle;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:focus {
	outline:none;
}
/* reset */
ul {
	margin:0;
	padding:0;
	list-style:none;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
/* page width */
.page-width {
	margin:0 auto;
	width:1024px;
}
.wrap {
	overflow:hidden;
	height:1%;
}
/* header */
#header {
	overflow:hidden;
	height:1%;
	padding:12px 0 0;
	background: url(../images/bg-header.jpg) no-repeat 0 102px;
}
/* box-banners */
.box-banners {
	height:90px;
	overflow: hidden;
}
.box-banners img {
	display:block;
	margin:0 auto;
}
/* box lang */
.box-lang {
	height:43px;
	padding:0 0 0 12px;
}
.lang {
	float:left;
	margin:8px 0 0;
}
.lang li {
	float:left;
	margin:5px 2px 0 0;
}
.lang a {
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width: 24px;
	height:20px;
}
.lang .favourites {
	margin-top:0;
}
.lang .favourites a {
	height:24px;
	background: url(../images/ico-favourites.gif) no-repeat;
}
.lang .russian a {
	background: url(../images/ico-rus.gif) no-repeat;
}
.lang .english a {
	background: url(../images/ico-en.gif) no-repeat;
}
.lang .franch a {
	background: url(../images/ico-fra.gif) no-repeat;
}
/* form-search */
.form-search {
	float:right;
	margin:9px 0 0;
	padding:3px 0 0 28px;
	width:331px;
	background: url(../images/bg-search.gif) no-repeat;
}
.form-search .inp-bg {
	float:left;
	margin-right:10px;
	overflow: hidden;
	width:230px;
	height:17px;
	padding:1px 10px 3px;
	background: url(../images/bg-input.gif) no-repeat;
}
.form-search .inp-bg input.field {
	float: left;
	width:230px;
	height:15px;
	margin:0;
	padding:1px 0;
	overflow:hidden;
	background:none;
	border:none;
}
.form-search input.submit {
	float:left;
	font-size:0;
	width:54px;
	height:19px;
	letter-spacing:-999px;
	border:none;
	cursor:pointer;
	background: url(../images/btn-search.gif) no-repeat;
}
/* logo */
#header .logo a {
	float:left;
	display:inline;
	margin:25px 0 0 106px;
	width:270px;
	height:95px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.gif) no-repeat;
}
#header .advert {
	float:right;
	display:inline;
	margin:4px 15px 5px 0;
	width:495px;
	height:127px;
	padding:4px;
	background: url(../images/bg-box-banner.gif) no-repeat;
}
#header .advert img {
	display:block;
}
/* nav */
#nav {
	background:url(../images/bg-nav.gif) repeat-x;
}
#nav li {
	float: left;
}
#nav a {
	float:left;
	color:#133f76;
	font-size:14px;
	line-height:54px;
	font-weight:bold;
	background:url(../images/bg-nav-l.gif) no-repeat;
}
#nav li span {
	float:left;
	height:54px;
	cursor:pointer;
	padding:0 21px;
	background:url(../images/bg-nav-r.gif) no-repeat 100% 0;
}
#nav .active a,
#nav a:hover {
	color:#ff3600;
	text-decoration:none;
}
/* main */
#main {
	overflow:hidden;
	height:1%;
	padding:10px 0 0 7px;
	font:12px/14px Tahoma, Arial, Verdana, sans-serif;
}
/* sidebar */
#sidebar {
	float:left;
	width:250px;
	overflow:hidden;
}
#sidebar .heading {
	padding-left:12px;
	background:url(../images/bg-h2.gif) no-repeat;
}
#sidebar h2 {
	color:#e9f3fa;
	font-size:11px;
	line-height:22px;
}
#sidebar  .widget {
	padding:0 0 5px 4px;
	overflow:hidden;
}
/* form-login */
.form-login {
	position:relative;
	height:48px;
}
.form-login a,
.form-login .remember label {
	color:#24578e;
	font-size:11px;
	line-height:16px;
}
.form-login .remember label {
	float:right;
}
.form-login a {
	position:absolute;
	right:0;
	top:0;
}
.form-login .remember {
	position:absolute;
	right:0;
	top:16px;
}
.form-login .remember input.cb {
	float:right;
	display:inline;
	width:15px;
	height:16px;
	margin:0 4px 0 0;
	padding:0;
}
.form-login a.reg {
	top:33px;
	color:#ff3600;
	font-weight:bold;
	text-decoration:underline;
}
.form-login a.reg:hover,
.news-list a.more:hover {
	text-decoration:none;
}
.form-login .inp-bg {
	position:absolute;
	left:0;
	top:4px;
	margin:0 0 6px;
	width:102px;
	height:15px;
	padding:2px 8px;
	overflow:hidden;
	background:url(../images/bg-input-login.gif) no-repeat;
}
.form-login .inp-pass {
	position:absolute;
	left:0;
	top:29px;
}
.form-login input.field {
	float:left;
	width:102px;
	height:15px;
	padding:0;
	margin:0;
	color:#636363;
	overflow:hidden;
	background:none;
	border:none;
}
.form-login input.submit {
	position:absolute;
	left:123px;
	top:29px;
	width:39px;
	height:19px;
	font-size:0;
	letter-spacing:-999px;
	cursor:pointer;
	border:none;
	background:url(../images/btn-login.gif) no-repeat;
}
/* news list */
.news-list {
	padding-right:6px;
}
.news-list li {
	padding:2px 0 0;
}
.news-list a.more,
.twocolumns .column a.more {
	float:right;
	color:#ff3600;
	font-size:11px;
	line-height:14px;
	padding-right:14px;
	text-decoration:underline;
	background:url(../images/arrow.gif) no-repeat 100% 50%;
}
.news-list .news-title {
	color:#ff3600;
	font-size:11px;
}
.news-list .news-title strong {
	float:left;
}
.news-list .news-title strong a {
	color:#ff3600;
}
.news-list .news-title span {
	float:right;
}
.news-list p {
	margin:8px 0 0;
	font-size:11px;
}
/* form vote */
#sidebar .form-vote {
	padding:5px 16px 9px 16px;
	color:#26548c;
	font-size:11px;
}
.form-vote .wrap {
	padding:5px 0 0 10px;
}
.form-vote input.rb {
	float:left;
	width:15px;
	height:16px;
	padding:0;
	margin:0 13px 0 0;
}
.form-vote .line {
	float:right;
	margin:4px 0 0;
	width:74px;
	height:7px;
	padding:1px;
	background:url(../images/bg-vote-line.gif) no-repeat;
}
.form-vote .line span {
	float:left;
	height:7px;
	text-indent:-9999px;
	overflow:hidden;
	background:#3bae43;
}
.form-vote label {
	float:left;
	color:#000;
	font-size:11px;
	line-height:16px;
}
.form-vote input.submit {
	float:right;
	margin-top:8px;
	width:76px;
	height:19px;
	font-size:0;
	letter-spacing:-999px;
	cursor:pointer;
	background:url(../images/btn-vote.gif) no-repeat;
	border:none;
}
/* yandex-ad */
#sidebar .yandex-ad {
	margin:7px 0 8px;
	padding:0;
}
.yandex-ad img {
	display:block;
}
/* video */
#sidebar .video {
	margin:3px 0 4px;
	padding:0;
}
/* box-statistic */
#sidebar .box-statistic {
	padding:0;
	margin:4px 0 0;
	background:url(../images/bg-boxs-c.gif) repeat-y;
}
.box-statistic .frame {
	background:url(../images/bg-boxs-t.gif) no-repeat;
}
.box-statistic .hold {
	padding:0 10px 10px;
	background:url(../images/bg-boxs-b.gif) no-repeat 0 100%;
}
.box-statistic strong {
	display:block;
	color:#e9f3fa;
	font-size:11px;
	line-height:20px;
	border-bottom:1px solid #cacaca;
}
.box-statistic ul {
	padding:8px 0 0;
	color:#cacaca;
	font-size:11px;
}
/* content */
#content {
	float:left;
	display:inline;
	margin-left:8px;
	width:753px;
	overflow:hidden;
}
#content h2,
.gallery-wrap h2 {
	color:#e9f3fa;
	font-size:11px;
	line-height:22px;
	background:url(../images/bg-h2-l.gif) no-repeat;
}
.twocolumns h2 span,
.gallery-wrap h2 span {
	display:block;
	height:22px;
	padding-left:14px;
	background:url(../images/bg-h2-r.gif) no-repeat 100% 0;
}
#content h2 a {
	color:#e9f3fa;
}
.twocolumns {
	width:110%;
}
.twocolumns2 {
	padding:5px 0 0;
}
.twocolumns .column {
	float:left;
	width:366px;
	margin-right:5px;
	overflow:hidden;
	color:#373737;
}
.twocolumns .column2 {
	width:382px;
}
.twocolumns .column p {
	margin:10px 0 0;
	font-size:11px;
}
.twocolumns .column .pict {
	float:left;
	padding-left:3px;
	margin-right:14px;
}
.twocolumns .column .pict .date {
	width:73px;
	font-size:11px;
	text-align:right;
	color:#cb4f0b;
	padding-left:10px;
	margin:0 0 7px;
	background:url(../images/bullet.gif) no-repeat 0 50%;
}
.twocolumns .column .pict img {
	display:block;
	padding:1px;
	border:1px solid #0f72a5;
}
.twocolumns .column .text {
	overflow:hidden;
	height:1%;
	padding-right:13px;
}
.twocolumns .column h3 {
	font-size:16px;
	line-height:18px;
	color:#ff3600;
	text-transform:uppercase;
	font-weight:normal;
}
.twocolumns .column h3 a {
	color:#ff3600;
}
.twocolumns .column h3 span {
	color:#003873;
	display: block;
	font-size:14px;
}
.twocolumns .column-alt h3 {
	margin-left:3px;
	padding-left:24px;
	background:url(../images/bullet.gif) no-repeat 0 50%;
}
.twocolumns .column .wrap {
	padding:4px 0 0;
}
.twocolumns .column a.link-comments {
	float:left;
	color:#24578e;
	font-size:11px;
	text-decoration:underline;
}
.twocolumns .column a.link-comments:hover,
.twocolumns .column a.more:hover {
	text-decoration:none;
}
.box-reklama {
	padding:2px 0 0;
}
.box-reklama a {
	display: block;
	margin-bottom:6px;
}
.box-reklama img {
	display:block;
	border:2px solid #e2e0c7;
}
/* box-member */
.box-member {
	margin:3px 0 0;
	background:url(../images/bg-box-c.gif) repeat-y;
}
.box-member .frame {
	background:url(../images/bg-box-t.gif) no-repeat;
}
.box-member .hold {
	padding:0 6px;
	overflow: hidden;
	height: 1%;
	background:url(../images/bg-box-b.gif) no-repeat 0 100%;
}
#content .box-member h2 {
	background:none;
	padding-left:15px;
}
.box-member .wrap {
	padding:10px 0;
}
.box-member .video {
	float:left;
	display:inline;
	margin-left:8px;
}
.box-member .video .place img,
.box-info .place img {
	display:block;
	padding:1px;
	border:1px solid #0f72a5;
}
.box-member .video p,
.box-info p {
	margin:3px 0 0 5px;
	font-size:11px;
	font-weight:bold;
}
.box-member .video p a,
.box-info p a {
	color:#18669b;
	text-decoration:underline;
}
.box-member .video p a:hover,
.box-info ul a:hover,
.box-info p a:hover {
	text-decoration:none;
}
.box-info {
	float:left;
	display:inline;
	margin-left:8px;
	width:374px;
}
.box-info-hold {
	padding:1px;
	overflow:hidden;
	height:1%;
	border:2px solid #d34a24;
}
.box-info .place  {
	float:left;
	margin-right:4px;
}
.box-info ul {
	overflow:hidden;
	height:1%;
	color:#373737;
	font-size:11px;
	line-height:14px;
	font-weight:bold;
}
.box-info ul span {
	color:#a09d9d;
}
.box-info ul a {
	color:#373737;
	text-decoration:underline;
}
.box-info p {
	color:#ff3600;
}
/* gallery wrap */
.gallery-wrap {
	overflow:hidden;
	height:1%;
	padding-bottom:15px;
	margin:10px 8px 0 6px;
}
.gallery-wrap h2 {
	margin-bottom:7px;
}
.gallery-wrap a.prev,
.gallery-wrap a.next {
	float:left;
	margin-top:18px;
	width:14px;
	height:71px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-prev.gif) no-repeat;
}
.gallery-wrap a.next {
	float:right;
	background:url(../images/btn-next.gif) no-repeat;
}
.gallery-wrap a.active,
.gallery-wrap a.prev:hover,
.gallery-wrap a.next:hover {
	background-position:0 -71px;
}
.gallery {
	float:left;
	width:976px;
	overflow:hidden;
}
.gallery ul {
	width:9999px;
}
.gallery ul li {
	float:left;
	width:110px;
	padding:0 6px;
	text-align:center;
}
.gallery ul li .pict img {
	display:block;
	border:1px solid #e35c08;
}
.gallery  a {
	color:#24578e;
	font-size:11px;
}
/* news page detail */
.news-wrap .column {
	width:526px;	
}
.news-wrap .column2 {
	width:220px;	
}
.news-wrap .column .pict {
	margin-right: 8px;
}
.news-wrap .column .text {
	overflow:visible;
	height: auto;
	padding:10px 13px 0 0;
}
/* comments-wrap */
.news-wrap .comments-wrap .wrap {
	padding: 0;
}
.comments-wrap {
	padding:0 17px 10px 7px;
	font-size:11px;
}
.news-wrap .comments-wrap .box-comment {
	padding:12px 0;
}
.box-comment .avatar {
	float:left;
	margin-right:5px;
}
* html .box-comment .avatar {
	margin-right:2px;
}
.box-comment .avatar img {
	display: block;
	border:1px solid #829ea9;
}
.box-comment-hold .heading {
	border:solid #c6c6c6;
	border-width:1px 0;
	line-height:14px;
}
.box-comment-hold .heading strong {
	float:left;
	color:#24578e;
	font-weight: normal;
}
.box-comment-hold .heading strong a {
	color:#24578e;
}
.box-comment-hold .heading span {
	float:right;
	color:#9b9b9b;
}
.box-comment .text-comment {
	min-height:40px;
}
* html .box-comment .text-comment {
	height:40px;
}
.box-comment ul {
	float:right;
	display:inline;
	overflow:hidden;
	height:1%;
	margin-right:-6px;
}
.box-comment ul li {
	float:left;
	display: inline;
	margin-left:-1px;
	padding:0 6px;
	background: url(../images/separator.gif) no-repeat 0 50%;
}
.box-comment ul a {
	color:#9b9b9b;
}
.box-comment ul a:hover,
.box-comment ul .active a {
	color:#24578e;
	text-decoration: underline;
}
.box-comment q{quotes: none;}
.box-comment q:before,
.box-comment q:after{content:"";}
.box-comment .box-cite {
	margin:5px 0 0;
	background:#dde3e7 url(../images/bg-cite-t.gif) no-repeat 100% 0;
}
.box-comment .box-cite blockquote {
	padding:5px 26px;
	margin: 0;
	background: url(../images/bg-cite-b.gif) no-repeat 0 100%;
}
/* paging */
.paging {
	overflow: hidden;
	height: 1%;
	padding:26px 14px 0 0;
}
.paging ul {
	float:right;
}
.paging ul li {
	float:left;
	display: inline;
	margin-left:4px;
	color:#003873;
	font-size:11px;
	font-weight:bold;
}
.paging ul a {
	float:left;
	color:#003873;
}
.paging ul a:hover,
.paging ul .active a,
.paging ul .active {
	color:#000;
	text-decoration: underline;
}
.paging ul .first,
.paging ul .last,
.paging ul .prev,
.paging ul .next {
	margin-top:5px;
	text-indent:-9999px;
	overflow: hidden;
	width:4px;
	height:7px;
	background: url(../images/btn-prev2.gif) no-repeat;
}
.paging ul .first {
	width:10px;
	background: url(../images/btn-first.gif) no-repeat;
}
.paging ul .last {
	width:10px;
	background: url(../images/btn-last.gif) no-repeat;
}
.paging ul .next {
	background: url(../images/btn-next2.gif) no-repeat;
}
.paging ul .first:hover,
.paging ul .last:hover,
.paging ul .prev:hover,
.paging ul .next:hover,
.paging ul .active .first,
.paging ul .active .last,
.paging ul .active .prev,
.paging ul .active .next {
	background-position:0 -7px;
}
/* paging alt */
.paging-alt {
	padding:8px 3px 0 0;
}
/* box view */
.box-view .choice {
	overflow:hidden;
	padding:13px 0 15px 6px;
	width: 110%;
}
.box-view .choice select {
	float:left;
	display: inline;
	margin:0 9px 0 0;
	width:122px;
	padding:0;
	color:#000;
}
.box-view table {
	font-size: 11px;
	line-height: 12px;
	border-collapse: collapse;
}
.box-view table th {
	border-left:2px solid #fff;
	width:104px;
	color:#000;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
	background:#c6c6c6;
	padding:4px 0;
}
.box-view table td {
	width:104px;
	color:#26578f;
	padding:4px 0;
	text-align: center;
	vertical-align: middle;
	border-left:2px solid #fff;
}
.box-view table a {
	color:#26578f;
}
.box-view table .has-bg td {
	background:#f0efed;
}
/* tabset */
.tabset {
	padding:4px 1px 0 0;
	overflow: hidden;
	height: 1%;
	background: url(../images/separator3.gif) no-repeat 100% 4px;
}
.tabset ul {
	width:525px;
}
.tabset ul li {
	float: left;
}
.tabset ul a {
	float: left;
	color:#4b4b4b;
	font-weight: bold;
	text-align:center;
	line-height: 23px;
	background: url(../images/bg-tab-nav.gif) no-repeat;
}
.tabset ul a.active,
.tabset ul a:hover {
	text-decoration: none;
	color:#003873;
	background: url(../images/bg-tab-nav-act.gif) no-repeat;
}
/* tab-box */
.tab-box {
	border:solid #c6c6c6;
	border-width:0 1px 1px;
	background:#fafafa;
	overflow: hidden;
	width:524px;
	padding-bottom:10px;
}
.twocolumns .column .tab-box h3 {
	margin:5px 0 0;
	color:#000;
	padding-left:14px;
	line-height:17px;
	font-size:11px;
	font-weight:bold;
	background: url(../images/bg-h3.gif) repeat-x;
}
.tab-box .menu {
	overflow:hidden;
	height:1%;
	margin:4px 0 0 4px;
}
.tab-box .menu li {
	float: left;
	display: inline;
	margin-left:-1px;
	color:#133f76;
	font-size: 11px;
	padding:0 7px;
	background: url(../images/separator4.gif) no-repeat 0 50%;
}
.tab-box .menu a {
	color:#133f76;
}
/* .list-video */
.list-video {
	padding:8px 0 0;
}
.list-video li {
	display:inline-block;
	margin:0 0 10px;
	width:164px;
	padding-left:6px;
	overflow:hidden;
	vertical-align: top;
}
* html .list-video li {
	display: inline;
}
* + html .list-video li {
	display: inline;
}
.list-video .video-place img {
	display: block;
	vertical-align: top;
}
.list-video dl,
.list-video dt,
.list-video dd {
	margin:0;
	padding:0;
	font-size:11px;
	line-height:13px;
	color:#636363;
}
.list-video dt {
	float:left;
	margin-right:5px;
}
.list-video dd {
	font-weight:bold;
}
/* .gallery-video */
.gallery-video {
	overflow:hidden;
	height:1%;
	padding:10px 8px 0;
}
.gallery-video a.prev, 
.gallery-video a.next {
	background:url("../images/btn-prev.gif") no-repeat scroll 0 0 transparent;
	float:left;
	height:71px;
	margin-top:18px;
	overflow:hidden;
	text-indent:-9999px;
	width:14px;
}
.gallery-video a.next {
	background:url("../images/btn-next.gif") no-repeat scroll 0 0 transparent;
	float:right;
}
.gallery-video a.active,
.gallery-video a.prev:hover, 
.gallery-video a.next:hover  {
	background-position:0 -71px;
}
.twocolumns .column .gallery-video .wrap {
	width:474px;
	padding:0;
}
.gallery-video ul {
	width:9999px;
}
.gallery-video ul li {
	float:left;
	width:140px;
	padding:0 9px;
}
.gallery-video .video {
	padding:1px;
	border:1px solid #1a5467;
}
.gallery-video .video img {
	display: block;
}
.twocolumns .column .gallery-video p {
	margin: 0;
}
.gallery-video p a {
	color:#24578e;
}
/* about */
.about {
	overflow:hidden;
	height:1%;
	padding:10px;
}
.about .pict-hold {
	float:left;
	width:167px;
	margin-right:13px;
}
.about .pict-hold .frame,
.last-photo ul .frame,
.photo-albums .frame {
	padding:1px;
	border:1px solid #1a5467;
}
.about .pict-hold .frame img,
.last-photo ul .frame img,
.photo-albums .frame img {
	display:block;
}
.about .pict-hold .hold {
	position:relative;
	overflow:hidden;
	height:1%;
	clear: both;
}
.about .pict-hold a.mail,
.about .pict-hold a.favourites {
	position:absolute;
	right:24px;
	top:7px;
	width:14px;
	height:10px;
	text-indent:-9999px;
	overflow: hidden;
	background: url(../images/ico-mail.gif) no-repeat;
}
.about .pict-hold a.favourites {
	right:3px;
	width:14px;
	height:18px;
	background: url(../images/ico-favourites2.gif) no-repeat;
}
.about .pict-hold dl,
.about .pict-hold dt,
.about .pict-hold dd {
	margin:0;
	padding:0;
	color:#003873;
	font-size: 11px;
	line-height: 16px;
}
.about .pict-hold dl {
	padding:3px 0 0 2px;
}
.about .pict-hold dt {
	float:left;
	margin-right:;
}
.about .pict-hold dd {
	font-weight: bold;
}
/* about text */
.about-text {
	overflow:hidden;
	height:1%;
}
.about-text dl,
.about-text dt,
.about-text dd,
.additional dl,
.additional dt,
.additional dd {
	margin:0;
	padding:0;
	color:#000;
	font-size: 12px;
	line-height: 15px;
}
.about-text dt,
.additional dt {
	float:left;
	margin-right:6px;
}
.about-text dd span,
.about-text dd a,
.additional dd span,
.additional dd a {
	color:#003873;
}
/* star */
.star {
	float: left;
	padding:3px 4px 0 0;
}
.star li {
	float:left;
	margin-right:1px;
	width:11px;
	height:10px;
	text-indent:-9999px;
	overflow: hidden;
	background: url(../images/ico-star.gif) no-repeat;
}
.star .act {
	background: url(../images/ico-star-act.gif) no-repeat;
}
.star .act-half {
	background: url(../images/ico-star-half.gif) no-repeat;
}
/* .additional */
.additional {
	padding:6px 10px 10px 15px;
}
/* last-photo */
.last-photo {
	overflow:hidden;
	height:1%;
	padding:0 0 3px 20px;
}
.last-photo ul {
	overflow:hidden;
	height:1%;
}
.last-photo ul li {
	display:inline-block;
	width:225px;
	margin:10px 0 0 10px;
}
* html .last-photo ul li {
 	display:inline;
}
* + html .last-photo ul li {
 	display:inline;
}
.last-photo ul a {
	color:#24578e;
	font-size: 11px;
}
.last-photo a.more-link {
	float:right;
	display: inline;
	margin:0 32px 0 0;
	color:#003873;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
.last-photo a.more-link:hover {
	text-decoration:none;
}
/* photo-albums */
.photo-albums {
	overflow:hidden;
	height:1%;
	padding:10px 0 0 3px;
}
.photo-albums ul li {
	display:inline-block;
	width:164px;
	margin:10px 0 0 5px;
	vertical-align: top;
}
* html .photo-albums ul li {
	display: inline;
	margin-left:7px;
}
* + html .photo-albums ul li {
	display: inline;
}
.photo-albums ul dl,
.photo-albums ul dt,
.photo-albums ul dd {
	margin:0;
	padding:0;
	color:#636363;
	font-size:11px;
	line-height:13px;
}
.photo-albums ul dl {
	overflow:hidden;
	height:1%;
}
.photo-albums ul dt {
	float:left;
	clear: both;
	margin-right:5px;
}
.photo-albums .frame {
	float: none;
}
/* albums info */
.twocolumns .column .albums-info {
	overflow:hidden;
	height:1%;
	font-size: 12px;
	line-height: 14px;
	color:#000;
}
.albums-info .pict {
	padding:5px 0 0 6px;
}
.albums-info .text {
	overflow:hidden;
	height:1%;
}
.albums-info h4 {
	margin:0;
	color:#003873;
	font-size:12px;
}
.twocolumns .column .albums-info p {
	margin:0;
	padding-bottom:24px;
}
/* playlist */
.playlist {
	overflow:hidden;
	height:1%;
}
.playlist ul {
	width:120%;
}
.playlist ul li {
	display:inline-block;
	width:230px;
	padding:10px 0 0 35px;
}
* html .playlist ul li {
	display: inline;
}
* + html .playlist ul li {
	display: inline;
}
.twocolumns .column .playlist p {
	margin: 0;
}
.playlist strong {
	display: block;
	font-size: 11px;
}




/* footer */
.foot-wrap {
	padding:10px 0;
	background:#f1f1f1 url(../images/bg-footer.gif) repeat-x;
}
#footer {
	width:996px;
	margin:0 auto;
	color:#a09d9d;
	font-size:11px;
}
#footer p {
	float: left;
}
#footer a {
	color:#a09d9d;
}
#footer ul {
	float:left;
	display:inline;
	margin-left:-11px;
	overflow:hidden;
	height:1%;
}
#footer ul li {
	float:left;
	display: inline;
	margin-left:-1px;
	padding:0 12px;
	background: url(../images/separator.gif) no-repeat 0 50%;
}
#footer ul.nav,
#footer ul.alignright {
	float:right;
	margin:0 -11px 0 0;
}
#footer ul.nav li {
	background: url(../images/separator2.gif) no-repeat 0 50%;
}
#footer ul.nav a {
	color:#123d74;
}
#footer ul.alt a {
	text-decoration:underline;
}
#footer ul.alt a:hover {
	text-decoration:none;
}