{% extends "base.html" %}
{% block title %} {{ user }} {% endblock %}
{% block content %}
    <!-- twoco  lumns -->
    <div class="twocolumns news-wrap wrap">
        <!-- column -->
        <div class="column">
            <h2><span>{{ profile }} - Закладки</span></h2>
            {% include "snippets/account_menu.html" %}
            <!-- tab box -->
            <div class="tab-box" id="tab2">

                <div class="box-view">
                <!--
						<div class="choice">
							<select>
								<option></option>
							</select>
							<select>
								<option>Кому</option>
							</select>
							<select>
								<option>Тема</option>
							</select>

						</div>
						-->
						<table>
							<tbody>
                            {% for mark in users %}
                            <tr>
								<td><a href="{{ mark.mark.get_absolute_url }}"><img src="{{ mark.mark.get_avatar_thumb }}" alt="{{ mark.mark.get_username }}" /></a></td>
								<td>{{ mark.mark.get_username }}</td>
								<td><a href="{% url user_bookmark_remove mark.mark.pk %}" class="ajax" rel="this">Удалить</a></td>
							</tr>
                            {% endfor %}
                            {% for mark in groups %}
                            <tr>
								<td><a href="{{ mark.mark.get_absolute_url }}"><img src="{{ mark.mark.get_avatar_thumb }}" alt="{{ mark.mark.get_username }}" /></a></td>
								<td>{{ mark.mark.get_username }}</td>
								<td><a href="{% url user_bookmark_remove mark.mark.pk %}" class="ajax" rel="this">Удалить</a></td>
							</tr>
                            {% endfor %}
						</tbody>
                        </table>
					</div>
            </div>
        </div>
        <!-- column -->
        <div class="column column2">
            <h2><span>Реклама</span></h2>

            <div class="box-reklama">
                <a href="#"><img src="/static/images/img-banner3.jpg" alt="image description"/></a>
            </div>
        </div>
    </div>
{% endblock %}
