<div class="tabset">
						<ul id="tab-nav">
							<li><a class="tab {{ home_tab }}" href="{{ profile.get_absolute_url }}">Главная</a></li>
							<li><a class="tab {{ biography_tab }}" href="{{ profile.get_absolute_url }}/biography/">Биография</a></li>
                            {% if profile.issinger %}
                                <li><a class="tab {{ disco_tab }}" href="{{ profile.get_absolute_url }}/discography/">Дискография</a></li>
                                <li><a class="tab {{ photo_tab }}" href="{{ profile.get_absolute_url }}/photoalbum/">Фото</a></li>
                                <li><a class="tab {{ video_tab }}" href="{{ profile.get_absolute_url }}/video/">Видео</a></li>
                                <li><a class="tab {{ audio_tab }}" href="{{ profile.get_absolute_url }}/audio/">Аудио</a></li>
                            {% endif %}
                            <li><a class="tab {{ event_tab }}" href="#tab7">События</a></li>
                            <li><a class="tab {{ contact_tab }}" href="#tab8" style='padding:  0px 7px;'>Контакты</a></li>

						</ul>
</div>
