<!-- nav -->
		<ul id="nav" class="wrap">
			<li class="{{ main_tab }}"><a href="/"><span><em>Главная</em></span></a></li>
			<li class="{{ news_tab }}"><a href="/news/"><span><em>Новости</em></span></a></li>
			<li class="{{ nnation_tab }}"><a class="has-drop" href="#"><span><em>Х-Х Нация</em></span></a>
				<div class="sub-nav">
					<ul>
						<li class="active"><a href="/account/direction/1/">Исполнители</a></li>
						<li><a href="/account/direction/2/">Битмейкеры/Продюсеры</a></li>
						<li><a href="/account/direction/3/">Битбоксеры</a></li>
						<li><a href="/account/direction/4/">Ди-джеи</a></li>
						<li><a href="/account/direction/5/">Райтеры</a></li>
						<li><a href="/account/direction/6/">Танцоры</a></li>
					</ul>
				</div>
			</li>
			<li class="{{ events_tab }}"><a href="/"><span><em>События</em></span></a></li>
			<li><a href="/"><span><em>О нас</em></span></a></li>
			<li><a href="/"><span><em>Контакты</em></span></a></li>
		</ul>