{% extends "base.html" %}
{% block title %} {{ profile }} {% endblock %}


{% block content %}

    <link rel='stylesheet' type='text/css' href='/static/css/jquery.jcarousel.css'/>
    <script type='text/javascript' src='/static/js/jquery.jcarousel.pack.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#mycarousel').jcarousel();

        });
    </script>




                <!-- this will install flowplayer inside previous A- tag. -->
                <script>
                    flowplayer("player", "/static/flash/flowplayer-3.2.7.swf", {});
                </script>


    <!-- twocolumns -->
    <div class="twocolumns news-wrap wrap">
        <!-- column -->
        <div class="column">
            <h2><span>{{ profile }}</span></h2>
            {% include "snippets/account_menu.html" %}
            <!-- tab box -->
            <div class="tab-box" id="tab2" style='position: relative;'>

                <div class="main-photo">
                    <!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
                <a
                     href="{{ MEDIA_URL }}{{ video.mp4_video }}"
                     style="display:inline-block;width:480px;height:320px; "
                     id="player">
                </a>
                    <div class="info-photo">
                        <a href="#comment">Комментировать</a>

                        <p>Загружено: {{ video.timestamp|date:"F j, Y" }} <br>Описание: {{ video.description }}</p>
                    </div>
                </div>

                <h3>ЕЩЕ ВИДЕО</h3>
                <!-- galley -->
                <div class="gallery-video jcarousel-container">
                    <span id="prevBtn" class='jcarousel-prev'><a class="prev"
                                                                 href="javascript:void(0)">previous</a></span>
                    <span id="nextBtn" class='jcarousel-next'><a class="next" href="javascript:void(0)">next</a></span>
                    <div class="wrap video-range jcarousel-clip jcarousel-clip-horizontal">
                        <ul id='mycarousel'>
                            {% for video in videos %}
                                <li>
                                    <div class="video">
                                        <a href="{{ video.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ video.photo }}" id="item{{ video.pk }}"
                                                         class='showimg' alt="{{ video.name }}"
                                                         style='width: 135px; height: 135px;'></a>
                                    </div>
                                    <p><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            
                <div class="comments-wrap">
                    <!-- box comment -->
                    {% for comment in comments %}
                    <div class="box-comment wrap">
                        <div class="avatar">
                            <a href="#"><img alt="" src="/static/images/img-avatar.jpg"></a>
                        </div>
                        <div class="box-comment-hold wrap">
                            <div class="heading wrap">
                                <strong><a href="#">{{ comment.user.username }}</a></strong>
                                <span>{{ comment.date_creating|date:"F j, Y" }}</span>
                            </div>
                            <div class="text-comment">
                                <p>{{ comment.text }}</p>
                            </div>
                            <div class="wrap">
                                <ul>
                                    <li><a href="#">Ответить</a></li>
                                    <li><a href="#">Цитата</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <br />
                    <br />
                    <br />
                    <div class='leavecomment' style='display: none'>
                        <form action="/photoalbum/comment/add/{{ album.pk }}/" method='post'>

                        <fieldset>
                        {% csrf_token %}
                        {% include "snippets/forms.html" %}

                            <input type='hidden' name='photo' value='{{ photos.0.pk }}' />
                            
                            <div class='input'>
                                <input type='submit' name='submit' value='Добавить' />
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>

                <br/>
                <br/>
            </div>
        </div>
        <!-- column -->
        <div class="column column2">
            <h2><span>Реклама</span></h2>

            <div class="box-reklama">
                <a href="#"><img src="/static/images/img-banner3.jpg" alt="image description"/></a>
            </div>
        </div>
    </div>
{% endblock %}
