{% extends "base.html" %}
{% block title %} Группы {% endblock %}

{%  block content %}
<!-- twocolumns -->
<div class="twocolumns news-wrap wrap">
    <!-- column -->
    <div class="column">
					<h2><span>Группы</span></h2>

					<div class="box-view">

                        {% if user.pk == profile.pk %}
                         <a href='{% url group_edit %}'> &nbsp;&nbsp; Добавить </a>
                        {% endif %}
                    
						<table>
							<tbody>
                            {% for group in groups %}
							<tr class="{% cycle 'has-bg' 'has-bg2' %}">
								<td><a href="{{ group.get_absolute_url }}"> {{ group }}</a></td>
								<td>{{ group.styles.all|join:"," }}</td>
								<td>{{ group.featings|default:0 }}</td>
								<td>{{ group.singers.all|join:"," }}</td>
								<td>75000</td>
							</tr>
                            {% endfor %}
						    </tbody>
                        </table>
					</div>
					<!-- paging -->
					<div class="paging paging-alt">
						<ul>
							<li><a class="first" href="#">first</a></li>
							<li><a class="prev" href="#">previous</a></li>
							<li><a href="#">1</a></li>
							<li class="active">2</li>
							<li><a href="#">3</a></li>
							<li>...</li>
							<li><a href="#">7</a></li>
							<li><a href="#">8</a></li>
							<li><a href="#">9</a></li>
							<li><a class="next" href="#">next</a></li>
							<li class="active"><a class="last" href="#">last</a></li>
						</ul>
					</div>
				</div>
    <!-- column -->
    <div class="column column2">
        <h2><span>Реклама</span></h2>
        <div class="box-reklama">
            <a href="#"><img src="/static/images/img-banner3.jpg" alt="image description" /></a>
        </div>
    </div>
</div>
{% endblock %}
