<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/all.css" />
	<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/static/css/lt7.css" media="screen"/><![endif]-->
</head>
<body>
<div class="page-width">
	<!-- header -->
	<div id="header">
		<!-- banner -->
		<div class="box-banners">
			<a href="#"><img src="/static/images/img-banner.gif" alt="image banner" /></a>
		</div>
		<!-- box lang -->
		<div class="box-lang wrap">
			<!-- lang -->
			<ul class="lang">
				<li class="favourites"><a href="#">favourites</a></li>
				<li class="russian"><a href="#">russian</a></li>
				<li class="english"><a href="#">english</a></li>
				<li class="franch"><a href="#">franch</a></li>
			</ul>
			<!-- search -->
			<div class="form-search">
				<form action="">
					<fieldset>
						<div class="inp-bg"><input type="text" class="field" /></div>
						<input type="submit" class="submit" value="поиск" />
					</fieldset>
				</form>
			</div>
		</div>
		<!-- logo -->
		<div class="wrap">
			<strong class="logo"><a href="#">h-hspace.com</a></strong>
			<div class="advert"><a href="#"><img src="/static/images/img-banner2.gif" alt="image banner" /></a></div>
		</div>
		<!-- nav -->
		<ul id="nav" class="wrap">
			<li class="active"><a href="#"><span>Главная</span></a></li>
			<li><a href="#"><span>Новости</span></a></li>
			<li><a href="#"><span>Х-Х Нация</span></a></li>
			<li><a href="#"><span>События</span></a></li>
			<li><a href="#"><span>О нас</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
	</div>
	<!-- wrap -->

	<div id="main">
		<!-- sidebar -->
		<div id="sidebar">

            {% if user.is_anonymous %}
                <!-- heading -->
                <div class="heading">
                    <h2>Личное меню</h2>
                </div>
                <!-- widget form login -->
                <div class="widget form-login">
                    <form action="/account/login/" method='post'>
                        <fieldset>
                            <div class="inp-bg"><input type="text" class="field" value="Логин..." name="username" /></div>
                            <div class="inp-bg inp-pass"><input type="password" class="field" value="Логин..." name="password" /></div>
                            <div class="remember">
                                <label for="remember">Запомнить?</label>
                                <input type="checkbox" class="cb" id="remember" name="remember" />
                            </div>
                            <a href="#">Забыли пароль?</a>
                            <a class="reg" href="/registration/">Регистрация</a>
                            <input type="submit" class="submit" value="вход" />
                            {% csrf_token %}
                        </fieldset>
                    </form>
                </div>
            {% else %}
                <!-- heading -->
                <div class="heading">
                    <h2>Вы зашли как {{ user.email }}</h2>
                </div>
                <!-- widget form login -->
                <div class="widget form-login">
                    <a href='/account/logout/'> logout </a>
                </div>
            {% endif %}
			<!-- heading -->
			<div class="heading">
				<h2>Наши новости</h2>
			</div>
			<!-- widget news -->
			<div class="widget news-list">
				<ul>
					<li>
						<div class="news-title wrap">
							<strong><a href="#">Открытие H-Hspace.com</a></strong>
							<span>01.06.2009</span>
						</div>
						<p>Открытие сайта H-Hspace.com приносит переворот в WEB индустрии и предоставляет новый сервис для исполнителей хип-хоп направления, любого жанра!</p>

					</li>
				</ul>
				<a href="#" class="more">Далее</a>
			</div>
			<!-- heading -->
			<div class="heading">
				<h2>Опрос</h2>
			</div>
			<!-- widget vote -->
			<div class="widget form-vote">
				<form action="">
					<fieldset>
						<p>Вам нравится наш сайт?</p>
						<div class="wrap">
							<input type="radio" id="yes" class="rb" name="vote" />
							<label for="yes">Да</label>
							<div class="line"><span style="width:60%;">line vote</span></div>
						</div>
						<div class="wrap">
							<input type="radio" id="no" class="rb" name="vote" />
							<label for="no">Нет</label>
							<div class="line"><span style="width:45%;">line vote</span></div>
						</div>
						<div class="wrap">
							<input type="radio" id="no-understand" class="rb" name="vote" />
							<label for="no-understand">Еще не понял(а)</label>
							<div class="line"><span style="width:25%;">line vote</span></div>
						</div>
						<input type="submit" class="submit" value="голосовать" />
					</fieldset>
				</form>
			</div>
			<!-- heading -->
			<div class="heading">
				<h2>Директ</h2>
			</div>
			<!-- widget yandex-ad -->
			<div class="widget yandex-ad">
				<img src="/static/images/img-yandex.gif" alt="yandex advertisment" />
			</div>
			<!-- heading -->
			<div class="heading">
				<h2>Видео приветствие</h2>
			</div>
			<!-- widget video -->
			<div class="widget video">
				<img src="/static/images/img-video.gif" alt="видео приветствие" />
			</div>
			<!-- widget statistic -->
			<div class="widget box-statistic">
				<div class="frame">
					<div class="hold">
						<strong>Статистика:</strong>
						<ul>
							<li>Всего зарегистрировано: 1536914</li>
							<li>Исполнителей: 158888</li>
							<li>Продюсеров/Битмейкеров: 15</li>
							<li>Ди-Джеев: 36999</li>
							<li>Райтеров: 59888</li>
							<li>Танцоров: 998566</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- content -->
		<div id="content">
            {% block content %}{% endblock %}
		</div>
	</div>
	<!-- gallery -->
	<div class="gallery-wrap">
		<h2><span>Маркет лента</span></h2>
		<a href="#" class="prev">previous</a>
		<div class="gallery">
			<ul>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Маркеры Montana</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-2.jpg" alt="product description" /></a></div>
					<a href="#">Микшеры Stanton</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-3.jpg" alt="product description" /></a></div>
					<a href="#">Микрофон Rode</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-4.jpg" alt="product description" /></a></div>
					<a href="#">Обувь Timberland</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-5.jpg" alt="product description" /></a></div>
					<a href="#">Кеды YSL</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-6.jpg" alt="product description" /></a></div>
					<a href="#">Кистевой тренажёр</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Маркеры Montana</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Микшеры Stanton</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Маркеры Montana</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-2.jpg" alt="product description" /></a></div>
					<a href="#">Микшеры Stanton</a>
				</li>
			</ul>
		</div>
		<a href="#" class="next active">next</a>
	</div>
</div>
<!-- footer -->
<div class="foot-wrap">
	<div id="footer">
		<div class="wrap">
			<p>&copy; 2009 <a href="h-hspace.com">h-hspace.com</a></p>
			<ul class="nav">
				<li><a href="#">О нас</a></li>
				<li><a href="#">Market</a></li>
				<li><a href="#">Реклама</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="wrap">
			<ul class="alt">
				<li><a href="#">Все права защищены</a></li>
				<li><a href="#">Политика конфиденциальности</a></li>
				<li><a href="#">Условия предоставления услуг</a></li>
			</ul>
			<ul class="alignright">
				<li><a href="#">Карта сайта</a></li>
				<li><a href="#">F.A.Q.</a></li>
				<li><a href="#">Ссылки</a></li>
				<li><a href="#">RSS</a></li>
			</ul>
		</div>
		<div class="wrap">
			<p>Копирование материала с сайта разрешено только при письменном разрешении Администрации <a href="h-hspace.com">www.h-hspace.com</a>!</p>
		</div>
	</div>
</div>
</body>
</html>