<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/all.css" />
	<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/static/css/lt7.css" media="screen"/><![endif]-->
    <script src='/static/js/jquery.min.js' type='text/javascript'></script>
    <script src='/static/js/jquery.form.js' type='text/javascript'></script>
    <script src='/static/js/jquery.validate.js' type='text/javascript'></script>
    <script src='/static/js/main.js' type='text/javascript'></script>
    <link href="/static/css/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.jplayer.min.js"></script>

</head>
<body>
<div class="page-width">
	<!-- header -->
	<div id="header">
		<!-- banner -->
		<div class="box-banners">
			<a href="#"><img src="/static/images/img-banner.gif" alt="image banner" /></a>
		</div>
		<!-- box lang -->
		<div class="box-lang wrap">
			<!-- lang -->
			<ul class="lang">
				<li class="favourites"><a href="#">favourites</a></li>
				<li class="russian"><a href="#">russian</a></li>
				<li class="english"><a href="#">english</a></li>
				<li class="franch"><a href="#">franch</a></li>
			</ul>
			<!-- search -->
			<div class="form-search">
				<form action="">
					<fieldset>
						<div class="inp-bg"><input type="text" class="field" /></div>
						<input type="submit" class="submit" value="поиск" />
					</fieldset>
				</form>
			</div>
		</div>
		<!-- logo -->
		<div class="wrap">
			<strong class="logo"><a href="#">h-hspace.com</a></strong>
			<div class="advert"><a href="#"><img src="/static/images/img-banner2.gif" alt="image banner" /></a></div>
		</div>
        {% include "snippets/main_menu.html" %}
	</div>
	<!-- wrap -->

	<div id="main">
		<!-- sidebar -->
		<div id="sidebar">

            {% if user.is_anonymous %}
                <!-- heading -->
                <div class="heading">
                    <h2>Личное меню</h2>
                </div>
                <!-- widget form login -->
                <div class="widget form-login">
                    <form action="/account/login/" method='post'>
                        <fieldset>
                            <div class="inp-bg"><input type="text" class="field" value="Логин..." name="username" id='userlogin' /></div>
                            <div class="inp-bg inp-pass"><input type="password" class="field" value="Логин..." name="password" id='userpassword'/></div>
                            <div class="remember">
                                <label for="remember">Запомнить?</label>
                                <input type="checkbox" class="cb" id="remember" name="remember" />
                            </div>
                            <a href="#">Забыли пароль?</a>
                            <a class="reg" href="/registration/">Регистрация</a>
                            <input type="submit" class="submit" value="вход" />
                            {% csrf_token %}
                        </fieldset>
                    </form>
                </div>
            {% else %}
                <div class="heading">
				    <h2>Личное меню</h2>
			    </div>
                {% load avatar_tags %}
                <div class="widget box-kabinet">
				<div class="avatar">
					<a href='/account/{{ user.pk }}'><img src="{{ user.get_avatar_thumb }}" alt="{{ user.username }}" /></a>
				</div>
				<div class="kabinet-content">
					<p>Рад видеть тебя, <a href='/account/{{ user.pk }}'>{{ user.username }}</a></p>
					<ul>
						<li class="it1"><a class="alt" href="#">Личные сообщения</a><a href="#">0</a><em>&nbsp;|&nbsp;</em><a href="#">7</a></li>
                        {% if user.issinger %}
                            <li class="it2"><a class="alt" href="{% url group_list user.pk %}">Группы</a></li>
                        {% endif %}
						<li class="it2"><a class="alt" href="#">Закладки</a><a href="#">3</a></li>
						<li class="it3"><a class="alt" href="{% url profile_edit %}">Настройки</a></li>
						<li class="it4"><a href="/account/logout/">Выход</a></li>
					</ul>
				</div>
			</div>
            {% endif %}
			<!-- heading -->
			<div class="heading">
				<h2>Наши новости</h2>
			</div>
			<!-- widget news -->
			<div class="widget news-list">
				<ul>
					<li>
						<div class="news-title wrap">
							<strong><a href="#">Открытие H-Hspace.com</a></strong>
							<span>01.06.2009</span>
						</div>
						<p>Открытие сайта H-Hspace.com приносит переворот в WEB индустрии и предоставляет новый сервис для исполнителей хип-хоп направления, любого жанра!</p>

					</li>
				</ul>
				<a href="#" class="more">Далее</a>
			</div>
			<!-- heading -->
			<div class="heading">
				<h2>Опрос</h2>
			</div>
			<!-- widget vote -->
			<div class="widget form-vote">
				<form action="">
					<fieldset>
						<p>Вам нравится наш сайт?</p>
						<div class="wrap">
							<input type="radio" id="yes" class="rb" name="vote" />
							<label for="yes">Да</label>
							<div class="line"><span style="width:60%;">line vote</span></div>
						</div>
						<div class="wrap">
							<input type="radio" id="no" class="rb" name="vote" />
							<label for="no">Нет</label>
							<div class="line"><span style="width:45%;">line vote</span></div>
						</div>
						<div class="wrap">
							<input type="radio" id="no-understand" class="rb" name="vote" />
							<label for="no-understand">Еще не понял(а)</label>
							<div class="line"><span style="width:25%;">line vote</span></div>
						</div>
						<input type="submit" class="submit" value="голосовать" />
					</fieldset>
				</form>
			</div>
			<!-- heading -->
			<div class="heading">
				<h2>Директ</h2>
			</div>
			<!-- widget yandex-ad -->
			<div class="widget yandex-ad">
				<img src="/static/images/img-yandex.gif" alt="yandex advertisment" />
			</div>
			<!-- heading -->
			<div class="heading">
				<h2>Видео приветствие</h2>
			</div>
			<!-- widget video -->
			<div class="widget video">
				<script type="text/javascript">
                    $(document).ready(function() {
                        $("#jquery_jplayer_1").jPlayer({
                            ready: function () {
                                $(this).jPlayer("setMedia", {
                                    m4v: "http://www.jplayer.org/video/m4v/Incredibles_Teaser_640x272_h264aac.m4v",
                                    ogv: "http://www.jplayer.org/video/ogv/Incredibles_Teaser_640x272.ogv",
                                    poster: "http://www.jplayer.org/video/poster/Incredibles_Teaser_640x272.png"
                                });
                            },
                            swfPath: "http://www.jplayer.org/latest/js",
                            supplied: "ogv, m4v",
                            cssSelectorAncestor: "#jp_interface_1"
                        })
                    })
				</script>
				<div class="jp-video jp-video-270p" style="width: 248px">
			<div class="jp-type-single">
				<div id="jquery_jplayer_1" class="jp-jplayer" style="width: 248px; height: 150px"></div>

				<div id="jp_interface_1" class="jp-interface" style="width: 248px">
					<div class="jp-video-play" style="width: 248px; top: -210px"></div>
					<ul class="jp-controls">
						<li><a href="#" class="jp-play" tabindex="1" style="left: 60px; height: 40px;">play</a></li>
						<li><a href="#" class="jp-pause" tabindex="1" style="left: 60px;height: 40px;">pause</a></li>
						<li><a href="#" class="jp-stop" tabindex="1" style="left: 111px;">stop</a></li>
						<li><a href="#" class="jp-mute" tabindex="1" style="left: 150px;">mute</a></li>

						<li><a href="#" class="jp-unmute" tabindex="1" style="left: 150px;">unmute</a></li>
					</ul>
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
					<div class="jp-volume-bar" style='left: 172px'>

						<div class="jp-volume-bar-value"></div>
					</div>
					<div class="jp-current-time"></div>
					<div class="jp-duration"></div>

				</div>
				<div id="jp_playlist_1" class="jp-playlist">
					<ul>
						<li>Incredibles Teaser</li>
					</ul>
				</div>
			</div>

		</div>
			</div>
			<!-- widget statistic -->
			<div class="widget box-statistic">
				<div class="frame">
					<div class="hold">
						<strong>Статистика:</strong>
						<ul>
							<li>Всего зарегистрировано: 1536914</li>
							<li>Исполнителей: 158888</li>
							<li>Продюсеров/Битмейкеров: 15</li>
							<li>Ди-Джеев: 36999</li>
							<li>Райтеров: 59888</li>
							<li>Танцоров: 998566</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- content -->
		<div id="content">
            {% block content %}{% endblock %}
		</div>
	</div>
	<!-- gallery -->
	<div class="gallery-wrap">
		<h2><span>Маркет лента</span></h2>
		<a href="#" class="prev">previous</a>
		<div class="gallery">
			<ul>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Маркеры Montana</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-2.jpg" alt="product description" /></a></div>
					<a href="#">Микшеры Stanton</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-3.jpg" alt="product description" /></a></div>
					<a href="#">Микрофон Rode</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-4.jpg" alt="product description" /></a></div>
					<a href="#">Обувь Timberland</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-5.jpg" alt="product description" /></a></div>
					<a href="#">Кеды YSL</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-6.jpg" alt="product description" /></a></div>
					<a href="#">Кистевой тренажёр</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Маркеры Montana</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Микшеры Stanton</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-1.jpg" alt="product description" /></a></div>
					<a href="#">Маркеры Montana</a>
				</li>
				<li>
					<div class="pict"><a href="#"><img src="/static/images/product-2.jpg" alt="product description" /></a></div>
					<a href="#">Микшеры Stanton</a>
				</li>
			</ul>
		</div>
		<a href="#" class="next active">next</a>
	</div>
</div>
<!-- footer -->
<div class="foot-wrap">
	<div id="footer">
		<div class="wrap">
			<p>&copy; 2009 <a href="h-hspace.com">h-hspace.com</a></p>
			<ul class="nav">
				<li><a href="#">О нас</a></li>
				<li><a href="#">Market</a></li>
				<li><a href="#">Реклама</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="wrap">
			<ul class="alt">
				<li><a href="#">Все права защищены</a></li>
				<li><a href="#">Политика конфиденциальности</a></li>
				<li><a href="#">Условия предоставления услуг</a></li>
			</ul>
			<ul class="alignright">
				<li><a href="#">Карта сайта</a></li>
				<li><a href="#">F.A.Q.</a></li>
				<li><a href="#">Ссылки</a></li>
				<li><a href="#">RSS</a></li>
			</ul>
		</div>
		<div class="wrap">
			<p>Копирование материала с сайта разрешено только при письменном разрешении Администрации <a href="h-hspace.com">www.h-hspace.com</a>!</p>
		</div>
	</div>
</div>
</body>
</html>