<!-- footer -->
<div class="foot-wrap">
	<div id="footer">
		<div class="wrap">
			<p>&copy; 2009 <a href="h-hspace.com">h-hspace.com</a></p>
			<ul class="nav">
				<li><a href="#">О нас</a></li>
				<li><a href="#">Market</a></li>
				<li><a href="#">Реклама</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="wrap">
			<ul class="alt">
				<li><a href="#">Все права защищены</a></li>
				<li><a href="#">Политика конфиденциальности</a></li>
				<li><a href="#">Условия предоставления услуг</a></li>
			</ul>
			<ul class="alignright">
				<li><a href="#">Карта сайта</a></li>
				<li><a href="#">F.A.Q.</a></li>
				<li><a href="#">Ссылки</a></li>
				<li><a href="#">RSS</a></li>
			</ul>
		</div>
		<div class="wrap">
			<p>Копирование материала с сайта разрешено только при письменном разрешении Администрации <a href="h-hspace.com">www.h-hspace.com</a>!</p>
		</div>
	</div>
</div>
</body>
</html>