<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>h-hspace.com</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/all.css" />
	<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="css/lt7.css" media="screen"/><![endif]-->
</head>
<body>
<div class="page-width">
	<!-- header -->
	<div id="header">
		<!-- banner -->
		<div class="box-banners">
			<a href="#"><img src="images/img-banner.gif" alt="image banner" /></a>
		</div>
		<!-- box lang -->
		<div class="box-lang wrap">
			<!-- lang -->
			<ul class="lang">
				<li class="favourites"><a href="#">favourites</a></li>
				<li class="russian"><a href="#">russian</a></li>
				<li class="english"><a href="#">english</a></li>
				<li class="franch"><a href="#">franch</a></li>
			</ul>
			<!-- search -->
			<div class="form-search">
				<form action="">
					<fieldset>
						<div class="inp-bg"><input type="text" class="field" /></div>
						<input type="submit" class="submit" value="поиск" />
					</fieldset>
				</form>
			</div>
		</div>
		<!-- logo -->
		<div class="wrap">
			<strong class="logo"><a href="#">h-hspace.com</a></strong>
			<div class="advert"><a href="#"><img src="images/img-banner2.gif" alt="image banner" /></a></div>
		</div>
		<!-- nav -->
		<ul id="nav" class="wrap">
			<li class="active"><a href="#"><span>Главная</span></a></li>
			<li><a href="#"><span>Новости</span></a></li>
			<li><a href="#"><span>Х-Х Нация</span></a></li>
			<li><a href="#"><span>События</span></a></li>
			<li><a href="#"><span>О нас</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ul>
	</div>