			{% extends "base.html" %}
            {% block title %} h-hspace mainpage {% endblock %}

            {%  block content %}
            <!-- twocolumns -->
			<div class="twocolumns wrap">
				<!-- column -->
				<div class="column">
					<h2><span><a href="#">Последние новости</a></span></h2>
					<div class="pict">
						<p class="date">01.03.2009</p>
						<a href="#"><img src="/static/images/img-1.jpg" alt="image description" /></a>
					</div>
					<div class="text">
						<h3>ВИНТ И Мэф готовят альбом <span>уже снят первый клип</span></h3>
						<p>После распада группы ЮГ достаточно быстро было объявлено о появлении новой творческой единицы в виде дуэта Мака и К.И.Т.а. А о деятельности оставшихся </p>
						<div class="wrap">
							<a href="#" class="link-comments">Комментариев (14)</a>
							<a href="#" class="more">Далее</a>
						</div>
					</div>
				</div>
				<!-- column -->
				<div class="column column2">
					<h2><span>Реклама</span></h2>
					<div class="box-reklama">
						<a href="#"><img src="/static/images/img-banner3.jpg" alt="image description" /></a>
					</div>
				</div>
			</div>
			<!-- box member -->
			<div class="box-member">
				<div class="frame">
					<div class="hold">
						<h2><a href="#">Исполнители</a></h2>
						<div class="wrap">
							<div class="video">
								<div class="place">
									<a href="#"><img src="/static/images/img-video2.jpg" alt="video description" /></a>
								</div>
								<p><a href="#">Видео - Dj 108</a></p>
							</div>
							<div class="video photo">
								<div class="place">
									<a href="#"><img src="/static/images/img-photo.jpg" alt="photo description" /></a>
								</div>
								<p><a href="#">Фото - Dj Dlee</a></p>
							</div>
							<div class="box-info">
								<div class="box-info-hold">
									<div class="place">
										<a href="#"><img src="/static/images/img-2.jpg" alt="image description" /></a>
									</div>
									<div class="text">
										<ul>
											<li><span>Название: </span>Ю.Г.</li>
											<li><span>Стиль: </span>Рэп</li>
											<li><span>Сайт: </span><a href="#">www.ug.ru</a></li>
											<li><span>Кратко: </span>Московская хип-хоп команда Ю.Г. (Южные Головорезы) была основана в 1999 году. В состав группы входят четыре участника. Вскоре группа записывает дебютный альбом под названием “Дешево и Сердито”.</li>
										</ul>
									</div>
								</div>
								<p>Новый блог - <a href="#">Ю.Г.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-member">
				<div class="frame">
					<div class="hold">
						<h2><a href="#">Райтеры</a></h2>
						<div class="wrap">
							<div class="video">
								<div class="place">
									<a href="#"><img src="/static/images/img-video2.jpg" alt="video description" /></a>
								</div>
								<p><a href="#">Видео - Dj 108</a></p>
							</div>
							<div class="video photo">
								<div class="place">
									<a href="#"><img src="/static/images/img-photo.jpg" alt="photo description" /></a>
								</div>
								<p><a href="#">Фото - Dj Dlee</a></p>
							</div>
							<div class="box-info">
								<div class="box-info-hold">
									<div class="place">
										<a href="#"><img src="/static/images/img-2.jpg" alt="image description" /></a>
									</div>
									<div class="text">
										<ul>
											<li><span>Название: </span>Ю.Г.</li>
											<li><span>Стиль: </span>Рэп</li>
											<li><span>Сайт: </span><a href="#">www.ug.ru</a></li>
											<li><span>Кратко: </span>Московская хип-хоп команда Ю.Г. (Южные Головорезы) была основана в 1999 году. В состав группы входят четыре участника. Вскоре группа записывает дебютный альбом под названием “Дешево и Сердито”.</li>
										</ul>
									</div>
								</div>
								<p>Новый блог - <a href="#">Ю.Г.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-member">
				<div class="frame">
					<div class="hold">
						<h2><a href="#">Танцоры</a></h2>
						<div class="wrap">
							<div class="video">
								<div class="place">
									<a href="#"><img src="/static/images/img-video2.jpg" alt="video description" /></a>
								</div>
								<p><a href="#">Видео - Dj 108</a></p>
							</div>
							<div class="video photo">
								<div class="place">
									<a href="#"><img src="/static/images/img-photo.jpg" alt="photo description" /></a>
								</div>
								<p><a href="#">Фото - Dj Dlee</a></p>
							</div>
							<div class="box-info">
								<div class="box-info-hold">
									<div class="place">
										<a href="#"><img src="/static/images/img-2.jpg" alt="image description" /></a>
									</div>
									<div class="text">
										<ul>
											<li><span>Название: </span>Ю.Г.</li>
											<li><span>Стиль: </span>Рэп</li>
											<li><span>Сайт: </span><a href="#">www.ug.ru</a></li>
											<li><span>Кратко: </span>Московская хип-хоп команда Ю.Г. (Южные Головорезы) была основана в 1999 году. В состав группы входят четыре участника. Вскоре группа записывает дебютный альбом под названием “Дешево и Сердито”.</li>
										</ul>
									</div>
								</div>
								<p>Новый блог - <a href="#">Ю.Г.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- twocolumns -->
			<div class="twocolumns twocolumns2 wrap">
				<!-- column -->
				<div class="column column-alt">
					<h2><span><a href="#">Последнея статья</a></span></h2>
					<div class="text">
						<h3><a href="#">Граффити история</a></h3>
						<p>Граффити (в контексте исторических надписей единственное число — граффито; от итал. graffito, множ. graffiti) — надписи или рисунки, нанесённые краской/чернилами или выцарапанные на стене каким либо предметом, от итал. graffito, множ. graffiti) — надписи или рисунки, нанесённые краской/чернилами или выцарапанные на стене каким либо предметом, от итал. graffito, множ ...</p>
						<div class="wrap">
							<a href="#" class="link-comments">Комментариев (14)</a>
							<a href="#" class="more">Далее</a>
						</div>
					</div>
				</div>
				<!-- column -->
				<div class="column">
					<h2><span><a href="#">События</a></span></h2>
					<div class="pict">
						<p class="date">01.03.2009</p>
						<a href="#"><img src="/static/images/img-1.jpg" alt="image description" /></a>
					</div>
					<div class="text">
						<h3><a href="#">концерт с участием ex-ю.г.</a></h3>
						<p>Первый Всеукраинский фестиваль андеграундного ОТЕЧЕСТВЕННОГО рэпа клуб Privilege Kiev (Зелёный театр), Парковая Аллея, 2 (М.Арсенальная) 24 мая 2008, 21:00-05:00...</p>
						<div class="wrap">
							<a href="#" class="link-comments">Комментариев (14)</a>
							<a href="#" class="more">Далее</a>
						</div>
					</div>
				</div>
			</div>
            {% endblock %}
