			{% extends "base.html" %}
            {% block title %} h-hspace mainpage {% endblock %}

            {%  block content %}
            <!-- twocolumns -->
			<div class="twocolumns wrap">
				<!-- column -->
				<div class="column">
					<h2><span><a href="{% url news_list %}">Последние новости</a></span></h2>
					<div class="pict">
						<p class="date">{{ news.date|date:"d.m.Y" }}</p>
						<a href="#"><img src="/static/images/img-1.jpg" alt="image description" /></a>
					</div>
					<div class="text">
						<h3>{{ news.title }} <span>{{ news.subtitle }}</span></h3>
						<p>{{ news.text }} </p>
						<div class="wrap">
							<a href="#" class="link-comments">Комментариев (14)</a>
							<a href="{{ news.get_absolute_url }}" class="more">Далее</a>
						</div>
					</div>
				</div>
				<!-- column -->
				<div class="column column2">
					<h2><span>Реклама</span></h2>
					<div class="box-reklama">
						<a href="#"><img src="/static/images/img-banner3.jpg" alt="image description" /></a>
					</div>
				</div>
			</div>
			<!-- box member -->
            {% for direction in directions %}
			<div class="box-member">
				<div class="frame">
					<div class="hold">


						<h2><a href="/account/direction/{{ direction.pk }}/">{{ direction }}</a></h2>

						<div class="wrap">
                            {% if direction.get_video %}
							<div class="video">
								<div class="place">
									<a href="{{ direction.get_video.get_absolute_url }}"><img src="{{ direction.get_video.photo }}" alt="direction.get_video" /></a>
								</div>
                                                                <p><a href="{{ direction.get_video.get_absolute_url }}">Видео - {{ direction.get_video.name }} </a></p>
							</div>
                            {% endif %}
							<div class="video photo">
                                {% if direction.get_photo %}
								<div class="place">
									<a href="{{ direction.get_photo.get_absolute_url }}"><img src="{{ direction.get_photo.image.url }}" alt="{{ direction.get_photo.name }}" style="width: 167px; height: 127px;" /></a>
								</div>
								<p><a href="{{ direction.get_photo.get_absolute_url }}">Фото - {{ direction.get_photo.name }}</a></p>
                                {% endif %}
							</div>
							<div class="box-info">
								<div class="box-info-hold">
									<div class="place">
                                        {% if direction.get_singer.pk %}
										    <a href="{{ direction.get_singer.get_absolute_url }}"><img src="{{ direction.get_singer.get_avatar_mainthumb }}" alt="{% autoescape off %}{{ direction.get_singer.biography|truncatewords:"60" }}{% endautoescape %}" /></a>
                                        {% endif %}
									</div>
									<div class="text">
										<ul>
											<li><span>Название: </span>{{ direction.get_singer.username }}</li>
											<li><span>Стиль: </span>{{ direction.get_singer.styles.all|join:", " }}</li>
											<li><span>Сайт: </span><a href="{{ direction.get_singer.url }}" target="_blank">{{ direction.get_singer.url }}</a></li>
											<li><span>Кратко: </span>{% autoescape off %} {{ direction.get_singer.biography|truncatewords:"20" }} {%  endautoescape %}</li>
										</ul>
									</div>
								</div>
								<p>Новый блог - <a href="{{ direction.get_singer.get_absolute_url }}">{{ direction.get_singer.username }}</a></p>
							</div>
						</div>

					</div>
				</div>
			</div>
            {% endfor %}                

			<!-- twocolumns -->
			<div class="twocolumns twocolumns2 wrap">
				<!-- column -->
				<div class="column column-alt">
					<h2><span><a href="#">Последнея статья</a></span></h2>
					<div class="text">
						<h3><a href="#">Граффити история</a></h3>
						<p>Граффити (в контексте исторических надписей единственное число — граффито; от итал. graffito, множ. graffiti) — надписи или рисунки, нанесённые краской/чернилами или выцарапанные на стене каким либо предметом, от итал. graffito, множ. graffiti) — надписи или рисунки, нанесённые краской/чернилами или выцарапанные на стене каким либо предметом, от итал. graffito, множ ...</p>
						<div class="wrap">
							<a href="#" class="link-comments">Комментариев (14)</a>
							<a href="#" class="more">Далее</a>
						</div>
					</div>
				</div>
				<!-- column -->
				<div class="column">
					<h2><span><a href="#">События</a></span></h2>
					<div class="pict">
						<p class="date">01.03.2009</p>
						<a href="#"><img src="/static/images/img-1.jpg" alt="image description" /></a>
					</div>
					<div class="text">
						<h3><a href="#">концерт с участием ex-ю.г.</a></h3>
						<p>Первый Всеукраинский фестиваль андеграундного ОТЕЧЕСТВЕННОГО рэпа клуб Privilege Kiev (Зелёный театр), Парковая Аллея, 2 (М.Арсенальная) 24 мая 2008, 21:00-05:00...</p>
						<div class="wrap">
							<a href="#" class="link-comments">Комментариев (14)</a>
							<a href="#" class="more">Далее</a>
						</div>
					</div>
				</div>
			</div>
            {% endblock %}
